@import '../../css-config/mixins.scss';

.main-content {

  .layout {
      max-width: calc(100% - 200px); /* here 100% means full width - 20px  */
      margin: 0 auto; /* top bottom 0 ans right left auto*/
      @include md {
          max-width: 1200px;
      }
  }
}
